body {
background-image: url('yoda.jpg');
background-size: cover;
background-blend-mode: soft-light ;
background-attachment: fixed;
font-family:sans-serif;
display: flex;
flex-direction: column;
height: 100vh;
color:gold;

}
.container {
margin-top: 20px;
text-align: center;

}
@keyframes opacity {
  0% { opacity:0.1 }
  100%{ opacity: 1; box-shadow: 0 0 100px 50px dodgerblue; }
}
.wyniki {
  flex-basis:600px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin:auto;
  margin-top: 70px
}

.resulty {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  border-radius: 50px;
  opacity: 1;
  margin-top: 10px;

}
.active{
  animation: opacity forwards 4s
}
ul {
  display: flex;
  flex-direction: column;
  
}
a{
  color:dodgerblue;
  opacity:0.2
}
a:hover {
  opacity:0.2;
  box-shadow: 0 0 20px 15px dodgerblue  ;
  border-radius: 50%;
  width: 150px;
  text-align:center;
  color:goldenrod
  ;
}

li {
text-align: center;
list-style: none;
min-width: 200px;
border:1px solid gold;
box-shadow: 0 0 150px 50px gold;
border-radius: 5px;
margin-right: 35px;
margin-top: 50px;
padding:20px 1px;
}
.xxx {
width: 300px}

input {

  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input:focus{
  box-shadow: 0 0 100px 20px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid blue;
}

.inputy {
border: 1px solid lightgrey;
border-radius: 2px;
height: 30px;
}

button {
  border-radius: 3px;
  font-weight: 700;
border: 1px solid  grey;
background-color: gold;
height: 30px;
width: 80px
}
button:focus {
  box-shadow: 0 0 45px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid blue;
}
select {
  width: 100px;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  height: 30px}
select:focus{
  box-shadow: 0 0 100px 20px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid blue;

}

h1 {text-decoration-line: underline}