.container {
    display: flex;
    text-align: center;
    margin-bottom: 25px;
    padding: 100px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:3px solid black;
    border-bottom:3px solid black;
    background-image: url('yoda.jpg');
    background-position: center;
    background-size: cover;
     background-repeat: no-repeat;
    background-attachment: fixed;

    
}
body {
    font-family: 'Ramabhadra', sans-serif;
    color:gold;
    background: rgba(30, 143, 255, 0.568);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}
h1 {
    display: block;word-wrap: break-word
}
.searchbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    
}
.btn {
    width:100px;
    height: 40px;
    border-radius: 5px;
    border:3px solid rgb(0, 0, 0);
    background: rgba(255, 255, 0, 0.959);
    font-weight: bolder
    
  }
  
  .btn:hover {
    box-shadow: 0 0 5px 5px rgba(8, 228, 8, 0.89);
    color: rgba(8, 228, 8, 0.89)
  }

.inputy {
    height: 30px;
    border:2px solid rgb(0, 0, 0);
    margin: 5px;
    text-align: center
}
input {
    width: 290px
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.wyniki
{
  margin: auto;
  margin-top: 20px;
  list-style: none;
  max-width: 600px;
  text-align: center;
  border: 2px solid black;
  opacity: 0;
  background: rgba(0, 0, 0, 0.473);
  box-shadow: 0 0 50px 10px rgba(21, 255, 0, 0.356)

}

ul li {
  list-style: none;
  margin:40px 0;
  padding: 0;
  padding-right: 30px;
}

.active {
  animation: show 1s forwards;
  display: block;
  scroll-margin: 200px
}
@keyframes show {
  100% {
    opacity: 1;
  }
}

@media (max-width:500px) {
  .container {
    margin:auto;
    padding: 50px
  }

}

